<!DOCTYPE HTML>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<% IF search; THEN %>
		<title><% search | html %> results from the CPAN </title>
<% ELSIF title %>		
		<title><% title %> - Let's grep the CPAN together</title>
<% ELSE %>		
		<title>Let's grep the CPAN together: search a pattern among all perl distributions</title>
<% END %>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/recent" />
		<link href="/_assets/20230427152712-510a05c940bec575d4a5edfd45e2668f.css" rel="stylesheet" type="text/css">
		<link rel="search" href="/static/opensearch.xml" type="application/opensearchdescription+xml" title="MetaCPAN">
		<link rel="shortcut icon" href="/static/icons/favicon.ico">
		<link rel="apple-touch-icon" sizes="152x152" href="/static/icons/apple-touch-icon.png">
		<script src="/_assets/20230427152712-8ee3b0e7a6641aed845899d0645808f6.js" type="text/javascript"></script>
		<!-- google analytics -->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-27829474-2"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-27829474-2');
		</script>
	</head>
	<body>
		<% INCLUDE main/_header.tt %>
		<div id="firstcontainer" class="container-fluid">
			<div class="row">
				<div class="main-content col-md-12" id="main-content">
					<% content %>
				</div>
			</div>
		</div>
		<div id="overlay" style="display:none;">
			<div align="center" class="home">
  				<a href="/" class="big-logo" alt="meta::cpan"></a>
  			</div>
			<i class="fa fa-refresh fa-spin fa-3x fa-fw margin-bottom"></i>
			<span class="sr-only">Loading...</span>
			Grepping...
		</div>

	</body>
</html>
