<% IF last_searches && last_searches.size %>
<div class="hidden-phone">
<li class="nav-header">Your recent searches</li>
<li>
  <div>
    <ul style="padding: 0px;">
      <% FOREACH search in last_searches %>
      <li><a href="/search?q=<% search | uri %>" title="<% search | html_entity %>"><% search | truncate(20, "...") %></a>
      <% END %>
    </ul>
  </div>
</li>
</div>
<% END %>